<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>It's hard</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/sidebar.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
</head>
<body>
<div class="site container-fluid">
    <div class="row site-header">
        <div class="site-header-main col-md-9">
            <div class="site-branding">
                <p class="site-title">
                    <a href="#" >Moonflow Stang</a>
                </p>
                <p class="site-description">
                    you will get there
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default"><a href="/sign-up">sign up</a></button>
            <button class="btn btn-default"><a href="/sign-in">sing in</a></button>
        </div>
    </div>

    <div class="row" >

        <div class="col-xs-6 col-md-8 container session" >
            <div class="article-box ">
                {{articles}}
            </div>
            <div ></div>

        </div>
            <!--侧边栏-->
        <div class="col-xs-6 col-md-4 container session" >
                <br><br>
                <div class="center-btn category">
                    <h1 class="cate-title ">{{dir_name}}</h1>
                        {{blog_list}}
                </div>
        </div>
    </div>
    <!--site-footer,网页尾-->
    <div class="row site-footer session">
        <h1 class="btn btn-default">谢谢观赏</h1>
    </div>

</div>
</body>
</html>