<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>新年快乐</title>
    {%include "html/_include.html"%}
    <style>

        .img-responsive{
            height:200px;
            min-width:50%;
        }

    </style>
</head>
<body class="mode">
<script class="canvas-script" color="255,0,0" count="99" dark-opacity="1" normal-opacity="0.5" opacity='0.5'
        src="/canvas-nest.min.js" type="text/javascript" zIndex="-2"></script>
<div class="site  mode">
    <div class="row site-header mode" style="padding-top:2rem;">

        <div class="row mode f-right" style="">
            <button class="btn btn-default mode"><a href="/sign-up">Sign up</a></button>
            <button class="btn btn-default mode"><a href="/sign-in">Sign In</a></button>
            <button class="btn btn-default mode"><a href="/me/editor">Create Blog</a></button>
            <button class="btn btn-default mode"><a href="/me">My Home</a></button>
            <button class="btn btn-default mode"><a href="/test">Test</a></button>
            <button class="btn btn-default mode" id="mod-switch"><span class="text-primary">切换模式</span></button>
            <button class="btn btn-default mode"><a href="/">首页</a></button>

            <script>executeMode();</script>
        </div>


        <script>executeMode();</script>
        <div class="site-header-main row">
            <div class="site-branding">
                <p class="site-title">
                    <a href="#">新年快乐</a>
                </p>
                <p class="site-description">
                    Happy new year
                </p>
            </div>
        </div>
    </div>
    <div class="app-box">
        {%block site_body%}{%endblock%}
    </div>
    <!--site-footer,网页尾-->
    <div class="row site-footer session mode">
        <h1 class="btn btn-default mode">谢谢观赏</h1>
    </div>
    <iframe name="hidden-iframe" style="display:none;"></iframe>
</div>
<script>
</script>
</body>
</html>