
<script type="text/javascript" src="/jquery-3.1.1.min.js"></script>
<link href="/bootstrap.min.css" rel="stylesheet">
<style>{%include "css/editor.css"%}</style>
<style>{%include "css/style1.css"%}</style>
<style>{%include "css/basic_style.css"%}</style>
<script src="/vue.js"></script>
<script src="/marked.min.js"></script>
<script src="/handle.js"></script>
<script>{%include "js/base.js"%}</script>
<script>{%include "js/run_script.js"%}</script>
<script>{%include "js/com.js"%}</script>
<script>{%include "js/file.js"%}</script>
<script>{%include "js/switch.js"%}</script>
<script>{%include "js/view.js"%}</script>
<script>{%include "js/app.js"%}</script>
<script>{%include "js/js1.js"%}</script>
