
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="/js/popper.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>{%include "css/style.css"%}</style>
<style>{%include "css/basic_style.css"%}</style>
<style>{%include "css/new_style.css"%}</style>
<style>{%include "css/home.css"%}</style>
<script src="/vue.js"></script>
<script src="/highlight.js"></script>
<script src="/marked.min.js"></script>
<script src="/handle.js"></script>
<script>{%include "js/easyJS.js"%}</script>
<script>{%include "js/request.js"%}</script>
<script>{%include "js/cookie.js"%}</script>

<script>{%include "js/pageData.js"%}</script>

<script>{%include "js/theme.js"%}</script>
<script>{%include "js/switch.js"%}</script>
<script>{%include "js/message_show.js"%}</script>
<script>{%include "js/myMarkdown.js"%}</script>

<script>{%include "js/classes.js"%}</script>
<script>{%include "js/init.js"%}</script>


<!--<script>include "js/app.js"</script>-->
<!--<script>include "js/file.js"</script>-->
<!--<script>include "js/run_script.js"</script>-->
<!--<script>js1</script>-->

