<div class="center-block category">
            <h1 class="cate-title ">我的文章</h1><hr>
            <div class="alert alert-danger msg-area hidden" onclick="hide($(this))" ></div>
            <ul>
                {%for b in blogs%}
                <li style="list-style-type:none;" id="blog_li_{{b.id}}"><a href="{{b.href}}" class="text-primary">{{b.name}}<br><span class=" text-warning"></span></a>
                {%if not not_me %}<span class=" text-warning" onclick="deleteBlog('#blog_li_{{b.id}}','{{b.id}}')" style="float:right">删除</span>{%endif%}
                <hr></li>
                {%endfor%}
            </ul>
        </div>
<script>{%include "js/_my_blog_list.js"%}</script>