<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>me</title>
    {%include "html/_include.html"%}
</head>
<body>
<div class="" id="root">
    <header class="" style="background:#333;">
        <div class="fixed-top " id="home-header-wrapper" style="">
            <div class="nav-header" style="">
                <button class="bg-black d-inline-block f-right" id="nav-menu-toggle" data-toggle="collapse"
                        data-target="#nav-menu" style="">
                    <span class="icon-bar"><img src="/imgs/icons/list6-32.png"></span></button>
            </div>
            <div class=" collapse " id="nav-menu">
                <!--<div class="menu-item"><a href="/sign-up">Sign up</a></div>-->
                <!--<div class="menu-item"><a href="/sign-in">Sign in</a></div>-->
                <!--<div class="menu-item"><a href="/sign-up">Create blog</a></div>-->
                <!--<div class="menu-item"><a href="/sign-up">My Home</a></div>-->
                <!--<div class="menu-item"><a href="/sign-up">Test</a></div>-->
                <!--<div class="menu-item"><a href="/sign-up">Home</a></div>-->

                <div class="btn-group-vertical" style="display:inline-block;width:100%;">
                    <a href="/sign-up" class="btn btn-lg btn-primary mode">Sign up</a>
                    <a class="btn btn-lg btn-dark mode" href="/sign-in">Sign In</a>
                    <a class="btn btn-lg btn-secondary mode" href="/me/editor">Create Blog</a>
                    <a class="btn btn-lg btn-success mode" href="/me">My Home</a>
                    <a class="btn btn-lg btn-danger mode" href="/test">Test</a>
                    <!--<span class="btn btn-lg btn-warning mode" id="mod-switch"><span class="text-primary">切换模式</span></span>-->
                    <a class="btn btn-lg btn-info mode" href="/">首页</a>
                </div>
            </div>
        </div>


    </header>


    <div class="site-body" style="text-align:center;overflow:auto;padding-top:50px;">
        <div class="site-primary" style="display:inline-block;">
        {%block site_primary%}{%endblock%}
        </div>
        <div class="site-secondary" style="float:right;min-width:10rem;padding:20px 4% 20px 2% ;text-align:center;">
                <div class="wrapper" style="display:inline-block;min-width:13rem;text-align:left;">
                    {%if user%}
            {%if blogs%}{%include "html/_my_blog_list.html"%}{%endif%}
                    {%endif%}
                </div>
        </div>
    </div>
    <div class="site-footer" style="border-top:solid gray 1px;,m">
        <div class="wrapper" style="text-align:center;padding:20px;">
            <div style="display:inline-block;">
                <strong>基本信息应在此处显示</strong>
            </div>

        </div>
    </div>
</div>
<script>{%include "js/_new_base.js"%}</script>
</body>
</html>