<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>me</title>
    {%include "html/_include.html"%}
</head>
<body>
<div class="" id="root">
    <div class="site-header" >
        <div class="site-meta">
            <div class="site-title">盗墓笔记</div>
        </div>
    </div>
    <div class="site-body">
        <div class="article-preview-list" >
        {%include "html/_new_feedlist.html"%}
        </div>
    </div>
</div>
</body>
</html>