<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>me</title>
    {%include "html/_include.html"%}
</head>
<body>
<div class="" id="root">
    <div class="site-header " style="padding:0px;">
        <div class="site-meta stick-to-top" style="height:80px;width:100%;padding:auto;" height-remained="60">
            <div class="site-title center-block" style="padding:10px 10px;">尼德叔叔的小屋</div>
        </div>
    </div>
    <div class="site-body" style="text-align:center;overflow:auto;">
        <div class="site-primary" style="display:inline-block;">
        {%block site_primary%}{%endblock%}
        </div>
        <div class="site-secondary" style="float:right;min-width:10rem;padding:20px 4% 20px 2% ;text-align:center;">
                <div class="wrapper" style="display:inline-block;min-width:13rem;text-align:left;">
                    {%if user%}
            {%if blogs%}{%include "html/_my_blog_list.html"%}{%endif%}
                    {%endif%}
                </div>
        </div>
    </div>
    <div class="site-footer" style="">
        <div class="wrapper" style="text-align:center;border-top:solid gray 1px;padding:20px;">
            <div style="display:inline-block;">
                <strong>基本信息应在此处显示</strong>
            </div>

        </div>
    </div>
</div>
<script>{%include "js/_new_base.js"%}</script>
</body>
</html>