{%extends "html/_base.html"%}
{%block site_body%}

<div class="feedlist">
    {%for b in blogs%}
    <div class="card text-center">
        <div class="card-header">
            {{b.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{b.name}}</h5>
            <small>{{b.user_name}}</small>
            <p class="card-text markdown text-align-left" id="article_display_{{b.id}}"
               data-box-id="data_box_{{b.id}}"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            {{b.created_at}}
        </div>
    </div>
    <textarea class="data-box " id="data_box_{{b.id}}" style="display:none;">{{b.summary}}</textarea>
    {%endfor%}
</div>


<div class="fixed-top  d-inline-block" id="app-blog" style="background:#333;color:white;max-width:15rem;">
    <!--侧边栏-->
    <button class="btn-dark" data-toggle="collapse" data-target="#blog_catalogue" style="margin:0.5rem 0.2rem 0.4rem 0.2rem;">文章目录</button>
    <div class="collapse" id="blog_catalogue" style="padding:2rem;">
        <h1 class="cate-title ">博客目录</h1>
        <hr>
        <ul style="padding-left:5%;">
            {%for u in users%}
            <li style="list-style-type:none;"><a href="{{u.href}}" class="text-primary">{{u.name}}<br><span
                    class=" text-warning"></span></a></li>
            <hr>
            {%endfor%}
        </ul>

    </div>

</div>
{%endblock site_body%}
