<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>{%include "css/basic_style.css"%}</style>
    <style>{%include "css/normal.css"%}</style>
    <style>{%include "css/test.css"%}</style>
    <script>{%include "js/test.js"%}</script>
</head>
<body style="padding:0px;margin:0px;">
<img src="/imgs/background/sky_road.jpg"  class="site-bg" >
<div class="root">
    <!--<div class=" h-10 w-p100 align-center c-white d-inline-block" >-->
        <!--ISLAND-->
    <!--</div>-->

</div>
</body>
</html>