{%extends "html/_base.html"%}
{%block site_body%}
<div class="row mode" id="app-blog">

    <div class="col-xs-10 col-md-9 container site-primary session">
        <div class="article-box  mode">
            <script>executeMode();</script>
            {%include "/html/_blog_show.html"%}
        </div>
        <div></div>

    </div>
    <script>executeMode();</script>
    <!--侧边栏-->
    <div class="col-xs-2 col-md-3 container session sidebar mode">
        <script>executeMode();</script>
        <br><br>
        <div class="center-block category">
            <h1 class="cate-title ">{{user.name}}的文章</h1><hr>
            <ul>
                {%for b in blogs%}
                <li style="list-style-type:none;"><a href="{{b.href}}" class="text-primary">{{b.name}}<br><span class=" text-warning"></span></a></li><hr>
                {%endfor%}
            </ul>
        </div>

    </div>

</div>
{%endblock site_body%}
