

.input,.content-area{
    padding:1em;
    overflow:auto;
}
.title-input{
    padding:1rem 2rem 1rem 2rem;
    font-size:1.75rem;
}
.inline{
    display:inline-block;
}
.fill-window{
    position:fixed;left:0px;right:0px;top:0px;bottom:0px;
}
.bg-dark{
    background:black;
}
.bg-gray{
    background:#d9d9d9;
}
.f-left{float:left}
.f-right{float:right}

.tool-bar-btn{
    height:2rem;
    margin:0px;
    display:inline;
}
.label-area{
}
.label-list{
    list-style:none;
    padding-left:0px;
    overflow:hidden;
}
.label-entry{
    overflow:hidden;
}
.label-area,.label-input, .label-list, .label-entry{
    height:2rem;
    margin:0px;
}

@media screen and (max-width: 400px) {
#input {
        width:100%;
}
#output{
        width:100%;
}
#tool-bar{height:4rem;}
#view-switch{display:inline;}
}
@media screen and (min-width: 400px) {
    #input {
        width:50%;
    }
    #output{
        width:50%;
    }
#tool-bar{height:2rem;}
#preview-switch{display:none;}

}