
.f-left{float:left}
.f-right{float:right}
.a-plain{
    color:inherit;
}

.text-align-left{
    text-align:left;
}

.hidden{
    display:none;
}
/*display*/
.d-inline-block{display:inline-block;}
.d-inline{display:inline;}
.d-block{display:block;}
/**/
/*background*/
.bg-black{background:black;}
.bg-gray{background:gray;}
.bg-333{background:#333;}
.bg-book{background:#e8e5d4;}
/*color*/
.c-white{ color:white;}
.c-book{color:#343530;}
/*height*/
.h-10{height:10rem;}
.h-p100{height:100%;}
.h-p50{height:50%;}
/*width*/
.w-p50{width:50%;}
.w-p100{width:100%;}
.w-10{width:10rem;}
/*size*/
.size-p100{width:100%;height:100%;}
/*align*/
.align-center{text-align:center;}
/**/
/**/
/*padding*/
/*margin*/
/*border*/

/**/
/**/
