{%extends "base.html"%}
{%block site_body%}
{%for blog in blogs%}
<div class="article-entry mode" id="blog_box_{{blog.id}}">
    <h3 class="article-title">
        <span class="text-primary"> {{blog.name}}</span>
    </h3>
    <div class="article-summary">
        <textarea class="data-box" id="data_box_{{blog.id}}" style="display:none;">{{blog.summary}}</textarea>
        <div class="markdown" id="article_display_{{blog.id}}" data-box-id="data_box_{{blog.id}}">

            <span>......</span>
        </div>
    </div>
    <div class="more">
        <button class="btn btn-primary"><a href="/user/blog/{{blog.id}}/" style="color:white;">显示全部</a></button>
        <button class="btn btn-primary" onclick="delete_blog(e,'{{blog.id}}','{{blog.id}}')">
            <span style="color:white;">删除博客</span>
        </button>
    </div>
    <br>
    <div class="message" id="msg_box_{{blog.id}}" style="display:none; ">
        <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span id="msg_show_{{blog.id}}"></span>
            <button class="btn btn-default" id="known_btn_{{blog.id}}">确定</button>
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}