
<style>{%include "app/to_do_list/to_do_list.css"%}</style>
<div id="to_do_list" class="padding-s-md">
    <div class="padding-s-md">
        <textarea class="form-control to-do-list-input"></textarea>
    </div>
    <div class="item-list">

    </div>
    <div class="data-area hidden">
        <div class="data-box" data-type="html" data-tag="item">
            <div class="row">
            <div class="bordered padding-s-sm " style="">$data$</div><input type="checkbox" class="form-control" value="" style=" ">
            </div>
        </div>
    </div>
</div>
<script>{%include "app/to_do_list/to_do_list.js"%}</script>